<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-4 col-md-offset-4">
        
            <div class="account-wall">
                <img class="profile-img" src="../../assets/img/logo.png" alt="logo">
                <form class="form-signin" #forgotForm="ngForm" novalidate (ngSubmit)="Forgot(forgotForm.valid)">
                    <div class="form-group" [ngClass]="{'has-error': email.errors && email.touched }">
                        <input class="form-control " type="email" #email="ngModel" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required minlength="5" maxlength="50"   placeholder="John@doe.com" [(ngModel)]="forgotModel.email">
                        <div *ngIf="email.errors && email.touched">
                            <small class="text-danger" [hidden]="!email.errors.required">
                                Email is required.
                            </small>
                            <small class="text-danger" [hidden]="!email.errors.minlength">
                                Email must be at least 5 characters long.
                            </small>
                            <small class="text-danger" [hidden]="!email.errors.maxlength">
                                Email cannot be more than 50 characters long.
                            </small>
                            <small class="text-danger" [hidden]="!email.errors.pattern">
                                Email format is incorrect.
                            </small>
                        </div>
                    </div>
                  
                    <div class="form-group">

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Forgot
                        </button>
                        
                        <a href="/login" class="pull-right need-help">Login </a><span class="clearfix"></span>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>