 #snackbar {
    visibility: hidden; 
    margin-left: -125px;  
    word-wrap: break-word;
    text-align: center;  
    border-radius: 2px;  
    padding: 16px;  
    position: fixed;  
    z-index: 1;  
    left: 6%;  
    bottom: 30px;  
    line-height: 0.8 !important;
  
}
  #snackbar.snackbar-primary
  {
      background-color: #33C3F0;  
    color: #fff;  
     
  }
#snackbar.snackbar-success
  {
      background-color: #5cb85c;  
    color: #fff;  
     
  }
  #snackbar.snackbar-info
  {
      background-color: #5bc0de;  
    color: #fff;  
     
  }
  #snackbar.snackbar-warning
  {
      background-color: #f0ad4e;  
    color: #fff;  
     
  }
  #snackbar.snackbar-danger
  {
      background-color: #d9534f;  
    color: #fff;  
  }
 
#snackbar.show {
    visibility: visible;  

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}