<!-- The Modal -->
<div id="tax" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
             <h3>Manage Tax</h3>
            <span class="close" (click)="cancel()">&times;</span>
           
        </div>
        <form #taxForm="ngForm" *ngIf="tax" novalidate (ngSubmit)="save(taxForm)">
            <div class="modal-body">
                <!-- content goes here -->
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group" [ngClass]="{'has-danger': popName.errors && popName.touched }">
                            <label for="example-text-input" class="col-2 col-form-label">Name</label>
                            <div class="col-10">
                                <input class="form-control " type="text" #popName="ngModel" id="popName" name="popName" maxlength="50" required placeholder="Name"
                                    [(ngModel)]="tax.Name">
                                <div class="form-control-feedback"></div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-danger': popCode.errors && popCode.touched }">
                            <label for="example-text-input" class="col-2 col-form-label">Code</label>
                            <div class="col-10">
                                <input class="form-control " type="text" #popCode="ngModel" id="popCode" name="popCode" maxlength="10" required placeholder="Code"
                                    [(ngModel)]="tax.Code">
                                <div class="form-control-feedback"></div>
                            </div>
                        </div>
                        
                           <div class="form-group" [ngClass]="{'has-danger': popRate.errors && popRate.touched }">
                            <label for="example-text-input" class="col-2 col-form-label"> Rate</label>
                            <div class="col-10">
                                <input class="form-control " type="number" step="0.01" pattern="\d+(\.\d{2})?" #popRate="ngModel" id="popRate" name="popRate"
                                    maxlength="50" required placeholder=" Rate" [(ngModel)]="tax.Rate">
                                <div class="form-control-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="example-text-input" class="col-2 col-form-label">Compound</label>
                            <div class="col-10">
                                <input class="form-control " type="checkbox" #popIsCompound="ngModel" id="popIsCompound" name="popIsCompound" [(ngModel)]="tax.IsCompound">
                                <div>

                                </div>
                            </div>
                        </div>
                     <div class="form-group">
                            <label for="example-text-input" class="col-2 col-form-label">Active</label>
                            <div class="col-10">
                                <input class="form-control " type="checkbox" #popIsActive="ngModel" id="popIsActive" name="popIsActive" [(ngModel)]="tax.IsActive">
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" *ngIf="!isWating">Submit</button>
                <button class="btn btn-success" *ngIf="isWating"><i class="fa fa-spinner fa-spin"></i> Processing</button>
            </div>
        </form>
    </div>

</div>