
<div class="load-more" *ngIf="canLoad">
     
        <div  *ngIf="!loading">
 
                <p> <span *ngIf="items>0">items:{{items}}</span>
                    <span *ngIf="totalCount>0">
               / {{totalCount}} </span>
                    <span >
                    <a href="javascript:void(0);">load more</a>
               </span>
                </p>
             
        </div>
        <div class="child"  *ngIf="loading">
            <busy-indicator ></busy-indicator>
        </div>
     
</div>
    