<!-- The Modal -->
<div id="store" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2>Manage Store</h2>
            <span class="close" (click)="cancel()">&times;</span>
            
        </div>
        <form #storeForm="ngForm" *ngIf="store" novalidate (ngSubmit)="save(storeForm)">
            <div class="modal-body">
                <!-- content goes here -->
                <div class="row pt-2">
                    <div class="col-xs-12 col-sm-4">
                            <div class="form-group" [ngClass]="{'has-danger': popName.errors && popName.touched }">
                                  
                                    <div class="col-12">
                                        <input class="form-control " type="text" #popName="ngModel" id="popName" name="popName" maxlength="50" required placeholder="Name" [(ngModel)]="store.Name">
                                        <div>
        
                                        </div>
                                    </div>
                                </div>
                        <div class="form-group" [ngClass]="{'has-danger': popStreet.errors && popStreet.touched }">
          
                            <div class="col-12">
                                <input class="form-control " type="text" #popStreet="ngModel" id="popStreet" name="popStreet" maxlength="150" required placeholder="Street" [(ngModel)]="store.Street">
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-danger': popCity.errors && popCity.touched }">
                             
                            <div class="col-12">
                                <input class="form-control " type="text" #popCity="ngModel" id="popCity" name="popCity" maxlength="50" required placeholder="City" [(ngModel)]="store.City">
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-danger': popState.errors && popState.touched }">
                             
                            <div class="col-12">
                                <input class="form-control " type="text" #popState="ngModel" id="popState" name="popState" maxlength="50" required placeholder="State" [(ngModel)]="store.State">
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group" [ngClass]="{'has-danger': popCountry.errors && popCountry.touched }">
                             
                            <div class="col-12">
                                <select #popCountry="ngModel" class="form-control"  id="popCountry" name="popCountry" [(ngModel)]="store.Country">
                                    <option *ngFor="let country of countries" value={{country.id}} [selected]="store.Country == country.id">
                                        {{country.name}}
                                    </option>
                                </select>
                                
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-danger': popPhone.errors && popPhone.touched }">
                                
                               <div class="col-12">
                                   <input class="form-control " type="text" #popPhone="ngModel" id="popPhone" required name="popPhone" maxlength="20" placeholder="Phone" [(ngModel)]="store.Phone">
                                   <div>
   
                                   </div>
                               </div>
                           </div>
                           <div class="form-group" [ngClass]="{'has-danger': popEmail.errors && popEmail.touched }">
                                
                                <div class="col-12">
                                    <input class="form-control " type="text" #popEmail="ngModel" id="popEmail" name="popEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="50" placeholder="Email" [(ngModel)]="store.Email">
                                    <div>
    
                                    </div>
                                </div>
                            </div>
                        <div class="form-group" [ngClass]="{'has-danger': popZipCode.errors && popZipCode.touched }">
                            
                            <div class="col-12">
                                <input class="form-control " type="text" #popZipCode="ngModel" id="popZipCode" required name="popZipCode" maxlength="10" placeholder="ZipCode" [(ngModel)]="store.ZipCode">
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                       
                        
                        <div class="form-group" [ngClass]="{'has-danger': popFax.errors && popFax.touched }">
                          
                            <div class="col-12">
                                <input class="form-control " type="text" #popFax="ngModel" id="popFax" name="popFax" maxlength="20" placeholder="Fax" [(ngModel)]="store.Fax">
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-danger': popDescription.errors && popDescription.touched }">
                                
                                 <div class="col-12">
                                     <input class="form-control " type="text" #popDescription="ngModel" id="popDescription" name="popDescription" maxlength="150" placeholder="Description" [(ngModel)]="store.Description">
                                     <div>
     
                                     </div>
                                 </div>
                             </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" *ngIf="!isWating" >Submit</button>
                <button class="btn btn-success" *ngIf="isWating" ><i class="fa fa-spinner fa-spin"></i> Processing</button>
            </div>
        </form>
    </div>

</div>